.idea
.DS_Store
.vagrant/*
.env
libraries/*
app/tmp/*
!app/tmp/cache
app/tmp/cache/*
!app/tmp/cache/models
!app/tmp/cache/persistent
app/tmp/cache/models/*
app/tmp/cache/persistent/*
!app/tmp/cache/models/empty
app/tmp/cache/persistent/*
!app/tmp/cache/persistent/empty
app/tmp/logs/*
app/webroot/js/build/*
app/webroot/css/build/*
webroot/
!app/webroot

.capistrano/
node_modules/
bower_components/
config/environments/

/vendor/*
!/vendor/vulcas

.tags*
