body#sub-page .modal .errorMessage,
.errorMessage {
	color: red;
	padding: 0 0 10px 0;
	clear: both;
}


.listenSlide .container a.cross {
	right: 20px;
}

.avatar.gap {
	margin:0 10px 10px 0;
	border: 5px solid #ffffff;
}

body#sub-page .bootbox .modal-body {
	padding-top:30px;
}

.registration-bottom {

	height: 180px;

}

