<div class="row">
	<div class="col-xs-12 col-md-10 col-lg-8 centered-column profile-column">
		<div class="profile-card" id="{{:match_id}}">
			<div class="profile-pic" style="background: url('{{:profile_pic}}') no-repeat">
				<h5 class="user-name">{{if business}}{{:name}}{{else}}{{:first_name}} {{:last_name}}{{/if}}</h5>
			</div>
			<div class="card-content">
				{{if match}}
				<div class="col-xs-5 col-sm-4 centered-column match-column">
					<h5 class="match-heading {{:heading_class}}">{{:percentage}}% Match</h5>
				</div>
				{{/if}}
				<p>
					{{if business}}
					{{:line1}}, {{:city}}, {{:state}} {{:zip}}
					{{else}}
					{{:bio}}
					{{/if}}
				</p>
			</div>
		</div>
	</div>
</div>
