<div class="slider-container">
	<div class="row">
    <h5>{{:title}}</h5>
      <form>
        <input class="slider-range" name="slider" type="range" min="0" max="200">
        <div class="col-xs-6 range-label"><p class="pull-left">{{:left_option.title}}</p></div>
        <div class="col-xs-6 range-label"><p class="pull-right">{{:right_option.title}}</p></div>
				<div class="submit-container">
					<input class="btn btn-yellow" type="submit" value="Submit Answer" />
				</div>
      </form>
  </div>
</div>
