#navigation {
  width: 100%;
  background: $nav-bg;
  border-bottom: 5px solid $nav-dark-yellow;
  position: fixed;
  height: 35px;
  margin-top: 0;
  z-index: 1;

	.hamburger-menu {
		position: absolute;
		left: 10px;
		top: 0;
		z-index: 2;
		.hamburger {
	    color: $white-color;
	    margin-top: 7px;
	    &:hover {
	      cursor: pointer;
	    }
	  }
	}

  .nav-logo {
    height: 25px;
    margin-top: 3px;
		display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

.slide-out {
  .slide-out-overlay {
    display: none;
    position: absolute;
    z-index: 440;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-overflow-scrolling: touch;
  }

  .slide-out-nav {
    background: $main-mobile-nav-bg;
    width: 19pc;
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.86,0,0.07,1);
    transition: transform .5s cubic-bezier(0.86,0,0.07,1);
    -webkit-transform: translate3d(-102%,0,0);
    transform: translate3d(-102%,0,0);
    ul.nav-options {
      list-style-type: none;
      padding-left: 0;
      margin-top: 15px;
      margin-left: 0;
      li {
        cursor: pointer;
        padding: 15px 0 15px 15px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        width: 100%;
        color: #fff;
        &:hover, &:active {
          background: $mobile-nav-hover-main;
          -webkit-tap-highlight-color: $mobile-nav-hover-main;
          -webkit-user-select: none;
          -webkit-touch-callout: none;
        }
        a {
          text-decoration: none;
          color: #fff;
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
      }
      hr {
        border-top: 1px solid $member-info-nav-bg;
        margin: 15px 0 15px 0;
      }
    }
    .member-info {
      margin-left: 0;
      margin-right: 0;
      background: $member-info-nav-bg;
      &:hover {
        background: $member-info-nav-bg;
      }
    }
    .member-details {
      margin-top: 20px;
      .user-img {
        @include border-radius(5px);
				background-size: cover !important;
				background-position-x: 50%!important;
				width: 80px;
				height: 80px;
				overflow: hidden;
      }
      h1 {
        font-size: 13px;
        max-width: 17pc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.member-name {
          color: #fff;
          margin-top: 7px;
          margin-bottom: 0;
        }
        &.member-email {
          color: $member-email-text-color;
          margin-top: 3px;
        }
      }
    }
    .close-nav {
      margin-top: 5px;
      color: #fff;
      &:hover {
        cursor: pointer;
      }
    }
  }

}

.slide-out {
  &.active {
    .slide-out-nav {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .slide-out-overlay {
        display: block;
    }
  }
}

/* Prevent scrolling on main body */

html {
  &.menu-open {
    overflow: hidden;
  }
}
