.login-footer {

	.pill-btn {
		border-radius: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 20px;
    margin-bottom: 10px;
	}
}
