.profile-card {
	padding-right: 0;
	padding-left: 0;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 1px 3px 0px 0px rgba(211, 211, 211, 1);
	-moz-box-shadow:    1px 3px 0px 0px rgba(211, 211, 211, 1);
	box-shadow:         1px 3px 0px 0px rgba(211, 211, 211, 1);
	.profile-pic {
		border-radius: 4px 4px 0 0;
		background-size: cover !important;
		background-position: center !important;
		height: 300px;
		position: relative;
		.user-name {
			position: absolute;
			color: #222;
			bottom: 10px;
			left: 10px;
			font-size: 13px;
		}
	}

	.card-content {
		padding: 15px;
		p {
			color: #999;
		}
	}
}
