* {
	margin: 0;
}
html {
	position: relative;
  min-height: 100%;
}
body {
    margin: 0 0 100px;
}
#main {
  padding-top: 55px;
}
#inner-outer {
  min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;

  .logo-loader {
		position: absolute;
    height: 70px;
    animation: beat 1s infinite alternate;
    transform-origin: center;
    top: 50vh;
    left: 46vw;
  }

  /* Heart beat animation */
  @keyframes beat{
  	to { transform: scale(1.4); }
  }
}

#globalFooter {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
